/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    AMR Pipeline Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

/* 
 * pipeline input parameters 
 */
params.input_files = false
params.outdir = "$PWD/"
params.abricate_depth = 0
params.abricate_identity = 75
params.abricate_coverage = 75
params.logo = "${projectDir}/docs/img/default.png"


profiles {

    // profile to use on NCAH HPC using modules - NOT WORKING! (do not use)
    ncah_modules {
        params.kraken_db = '/project/bioinformatic_databases/databases/kraken/kraken2'
        params.mlst_lookup_json = "${HOME}/git/gitlab/amr_nextflow/bin/lookup_genome_size.json"
        params.logo = "${HOME}/git/gitlab/amr_nextflow/docs/img/usdalogo.png"
        queueSize = 30

        process {
            executor = 'slurm'
            scratch = '/project/scratch'

            module = [
                'py-webencodings-0.5.1-gcc-9.2.0-7qfi7nq',
                'py-cssselect2-0.4.1-gcc-9.2.0-lzdqonn',
                'py-defusedxml-0.6.0-gcc-9.2.0-zpjk4jj',
                'py-pillow/10.0.0',
                'py-tinycss2-1.1.0-gcc-9.2.0-fqjnlr3',
                'py-dendropy-4.3.0-gcc-9.2.0-gshadzm',
                'bzip2-1.0.8-gcc-9.2.0-4q7b53i',
                'texinfo-6.5-gcc-9.2.0-z6nbuiy',
                'texlive-live-gcc-9.2.0-pnsn7pt',
                'spades-3.13.0-gcc-9.2.0-2dgoqsd',
                'seqsero2/1.2.1',
                'salmid-0.122-gcc-9.2.0-bcrnbfu',
                'blast-plus-2.12.0-gcc-9.2.0-pj4bk',
                'kraken2-2.1.0-gcc-9.2.0-56mhvby',
                'krona-2.7.1-gcc-9.2.0-cd3i3mj',
                'krakentools-0.1-gcc-9.2.0-rzoy2iy',
                'plasmidfinder-2.1.1-gcc-9.2.0-lbhdoee',
                'AMRFINDER|AMRFINDER_FA-3.11.2-gcc-10.3.0-2qythxz',
                'any2fasta-0.4.2-gcc-9.2.0-7vwhnhi',
                'bracken-2.6.0-gcc-9.2.0-j6howtu',
                'bedtools2-2.27.1-gcc-9.2.0-v24p2lj',
                'py-pandas-1.3.3-gcc-9.2.0-j5l46',
                'py-openpyxl-3.0.7-gcc-9.2.0-56j3b5c',
                'py-cairocffi-1.2.0-gcc-9.2.0-i5r2cus',
                'py-cairosvg-2.5.0-gcc-9.2.0-y6nxqvr',
                'py-svgwrite-1.1.12-gcc-9.2.0-y5vpbza',
                'py-cffi-1.14.6-gcc-9.2.0-tej6pbg',
                'py-urllib3-1.25.6-gcc-9.2.0-upeiait',
                'python-3.9.6-gcc-9.2.0-3m34vgo',
                'py-humanize-4.0.0-gcc-9.2.0-aakv7',
                'py-et-xmlfile-1.1.0-gcc-9.2.0-xswduch',
                'py-pyparsing-2.4.7-gcc-9.2.0-qo5y2g5',
                'samtools-1.14-gcc-9.2.0-wmhizze',
                'abricate',
                'mlst',
                'py-matplotlib/3.8.4',
                'fastqc/0.12.1'
            ]

            withName: 'KRAKEN_PE|KRAKEN_SE|KRAKEN_FA' {
                cpus = 8
                memory = '380.GB'
                time = '4h'

                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'BRACKEN|BRACKEN_PIE' {
                cpus = { 1 + task.attempt }
                memory = { 8.GB * task.cpus }

                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'KRONA' {
                cpus = { 1 + task.attempt }
                memory = { 8.GB * task.cpus }

                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'FASTQC' {
                cpus = { 8 + task.attempt }
                time = '1h'
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'PARSE_FASTQC_SE|PARSE_FASTQC' {
                cpus = 1
                time = '1h'
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'SPADES_PE|SPADES_SE' {
                cpus = { 23 + task.attempt }
                time = '8h'
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            //NOT ON NCAH HPC YET - requested
            withName: 'QUAST' {
                cpus = { 8 + task.attempt }
                time = '1h'
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }     

            withName: 'PARSE_QUAST' {
                cpus = 1
                time = '1h'
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }      

            withName: 'SEQSERO_PE|SEQSERO_SE|SEQSERO_FA' {
                module = [
                    'seqsero2/1.2.1',
                    'python-3.9.6-gcc-9.2.0-3m34vgo',
                    'blast-plus-2.12.0-gcc-9.2.0-pj4bk',
                    'samtools-1.14-gcc-9.2.0-wmhizze',
                    'salmid-0.122-gcc-9.2.0-bcrnbfu',
                    'py-pandas-1.3.3-gcc-9.2.0-j5l46',
                    'py-urllib3-1.25.6-gcc-9.2.0-upeiait'
                ]
                cpus = { 17 + task.attempt }
                memory = { 6.GB * task.cpus }
                time = '4h'
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }
            
            withName: 'PARSE_SEQSERO' {
                cpus = 1
                time = '1h'
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'MLST|ABRICATE' {
                cpus = { 8 + task.attempt }
                memory = { 6.GB * task.cpus }
                time = '2h'
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }
            
            withName: 'PARSE_ABRICATE' {
                cpus = 1
                time = '1h'
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }
            
            withName: 'PARSE_MLST' {
                cpus = 1
                time = '1h'
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'AMRFINDER|AMRFINDER_FA' {
                cpus = { 7 + task.attempt }
                memory = { 10.GB * task.cpus }
                time = '4h'
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'PARSE_AMRFINDER' {
                cpus = 1
                time = '1h'
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }  

            withName: 'SOFTWARE_VERSIONS' {
                cpus = 1
                memory = '4.GB'
                errorStrategy = 'retry'
                maxRetries = 1
            }

            withName: 'GENERATE_PDF_REPORT|COMBINE_XLSX' {
                cpus = 1
                memory = '4.GB'
                errorStrategy = 'retry'
                maxRetries = 1
            }               
        }
    }

    // profile to use on NCAH HPC w/Apptainer converted from Docker
    ncah_apptainer {
        params.kraken_db = '/project/bioinformatic_databases/databases/kraken/kraken2' 
        params.amr_nf_container = '/project/scratch/apptainer/amr_nextflow.sif'
        params.mlst_lookup_json = "${HOME}/git/gitlab/amr_nextflow/bin/lookup_genome_size.json"
        params.logo = "${HOME}/git/gitlab/amr_nextflow/docs/img/usdalogo.png"

        apptainer {
            enabled = true
            autoMounts = true
            // Bind where you will run the pipeline and where the databases are.
            runOptions = '--bind /project/bioinformatic_databases,/project/scratch,${HOME}/git/gitlab/amr_nextflow/'
        }

        process {
            executor = 'slurm'
            submitRateLimit = '10 sec'
            queueSize = 30
            container = "${params.amr_nf_container}"
            scratch = '/project/scratch'

            withName: 'KRAKEN_PE|KRAKEN_SE|KRAKEN_FA' {
                containerOptions = "--bind ${params.kraken_db}:${params.kraken_db}:ro --bind /project/scratch:/project/scratch"
                shell = ['conda', 'run', '-n', 'kraken_env', '--no-capture-output', 'bash']

                cpus = 8
                memory = '380.GB'
                time = '4h'
                queue = 'prod-compute-mem'
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'FASTQC' {
                shell = ['conda', 'run', '-n', 'analysis_env', '--no-capture-output', 'bash']

                cpus = 8
                memory = '16GB'
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'QUAST' {
                shell = ['conda', 'run', '-n', 'assembly_env', '--no-capture-output', 'bash']

                cpus = 8
                memory = '8GB'
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'PARSE_FASTQC_SE|PARSE_FASTQC' {
                shell = ['conda', 'run', '-n', 'analysis_env', '--no-capture-output', 'bash']
                
                cpus = 1
                memory = '8GB'
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'PARSE_QUAST' {
                shell = ['conda', 'run', '-n', 'analysis_env', '--no-capture-output', 'bash']
                
                cpus = 1
                memory = '8GB'
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'BRACKEN' {
                containerOptions = "--bind ${params.kraken_db}:${params.kraken_db}:ro --bind /project/scratch:/project/scratch"
                shell = ['conda', 'run', '-n', 'kraken_env', '--no-capture-output', 'bash']

                cpus = 8
                memory = '8GB'
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'KRONA' {
                shell = ['conda', 'run', '-n', 'kraken_env', '--no-capture-output', 'bash']

                cpus = 1
                memory = '8GB'
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'BRACKEN_PIE' {
                shell = ['conda', 'run', '-n', 'kraken_env', '--no-capture-output', 'bash']

                cpus = 1
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'SPADES_PE|SPADES_SE' {
                shell = ['conda', 'run', '-n', 'assembly_env', '--no-capture-output', 'bash']

                cpus = { 23 + task.attempt }
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'SEQSERO_PE|SEQSERO_SE|SEQSERO_FA' {
                shell = ['conda', 'run', '-n', 'analysis_env', '--no-capture-output', 'bash']

                cpus = { 17 + task.attempt }
                memory = { 6.GB * task.cpus }
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'PARSE_SEQSERO' {
                shell = ['conda', 'run', '-n', 'analysis_env', '--no-capture-output', 'bash']
                
                cpus = 1
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'MLST|ABRICATE' {
                containerOptions = "--bind \${PWD}:\${PWD} --no-privs"
                shell = ['conda', 'run', '-n', 'legacy_perl_env', '--no-capture-output', 'bash']

                scratch = false
                stageInMode = 'copy'
                
                cpus = 1
                memory = { 6.GB * task.cpus }
                maxRetries = 3
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
            }

            withName: 'PARSE_ABRICATE' {
                shell = ['conda', 'run', '-n', 'legacy_perl_env', '--no-capture-output', 'bash']
                
                cpus = 1
                memory = { 6.GB * task.cpus }
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'PARSE_MLST' {
                shell = ['conda', 'run', '-n', 'legacy_perl_env', '--no-capture-output', 'bash']

                cpus = 1
                memory = { 6.GB * task.cpus }
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'AMRFINDER|AMRFINDER_FA' {
                shell = ['conda', 'run', '-n', 'analysis_env', '--no-capture-output', 'bash']
                containerOptions = '--env AMRFINDERPLUS_DB=/opt/conda/envs/analysis_env/share/amrfinderplus/data/latest'

                cpus = { 7 + task.attempt }
                memory = { 10.GB * task.cpus }
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'PARSE_AMRFINDER' {
                shell = ['conda', 'run', '-n', 'analysis_env', '--no-capture-output', 'bash']
                
                cpus = 1
                memory = { 8.GB * task.cpus }
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }
 
            withName: 'SOFTWARE_VERSIONS' {
                shell = ['conda', 'run', '-n', 'analysis_env', '--no-capture-output', 'bash']
                cpus = 1
                memory = '4.GB'
                errorStrategy = 'retry'
                maxRetries = 1
            }

            withName: 'GENERATE_PDF_REPORT|COMBINE_XLSX' {
                shell = ['conda', 'run', '-n', 'analysis_env', '--no-capture-output', 'bash']
                
                cpus = 1
                memory = '4.GB'
                errorStrategy = 'retry'
                maxRetries = 1
            }                          
        }                 
    }
    // profile to use on SciComp HPC w/Apptainer
    scicomp_apptainer {
        params.kraken_db = '/project/ncah/cbis/databases/kraken/kraken2_std8'
        //params.kraken_db = '/project/ncah/cbis/databases/kraken/kraken2_std8' 
        params.amr_nf_container = '/project/ncah/cbis/containers/amr_nextflow.sif'
        params.mlst_lookup_json = "${HOME}/git/gitlab/amr_nextflow/bin/lookup_genome_size.json"
        params.logo = "${HOME}/git/gitlab/amr_nextflow/docs/img/usdalogo.png"

        apptainer {
            enabled = true
            autoMounts = true
        }

        process {
            executor = 'slurm'
            submitRateLimit = '10 sec'
            queueSize = 50
            //clusterOptions = "--account='aap mr scicomp hpc ncah users'"
            clusterOptions = "--account='aap mr scicomp hpc ncah users' --exclude=node001,node003,node006,node014,node015,node017,node021,node028,node030,node033,node036"
            container = "${params.amr_nf_container}"

            scratch = '/project/ncah/cbis/scratch/tmp'

            withName: 'KRAKEN_PE|KRAKEN_SE|KRAKEN_FA' {
                containerOptions = "--bind ${params.kraken_db}:${params.kraken_db}:ro"
                shell = ['conda', 'run', '-n', 'kraken_env', '--no-capture-output', 'bash']

                cpus = 8
                memory = '380.GB'
                time = '4h'
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'BRACKEN' {
                containerOptions = "--bind ${params.kraken_db}:${params.kraken_db}:ro"
                shell = ['conda', 'run', '-n', 'kraken_env', '--no-capture-output', 'bash']

                cpus = 8
                memory = '8GB'
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

           withName: 'KRONA' {
                shell = ['conda', 'run', '-n', 'kraken_env', '--no-capture-output', 'bash']

                cpus = 1
                memory = '8GB'
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'BRACKEN_PIE' {
                shell = ['conda', 'run', '-n', 'kraken_env', '--no-capture-output', 'bash']

                cpus = 1
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'FASTQC' {
                shell = ['conda', 'run', '-n', 'analysis_env', '--no-capture-output', 'bash']

                cpus = 8
                memory = '8GB'
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }
            
            withName: 'QUAST' {
                shell = ['conda', 'run', '-n', 'assembly_env', '--no-capture-output', 'bash']

                cpus = 8
                memory = '8GB'
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'PARSE_FASTQC_SE|PARSE_FASTQC' {
                shell = ['conda', 'run', '-n', 'analysis_env', '--no-capture-output', 'bash']

                cpus = 1
                memory = '8GB'
            }

            withName: 'PARSE_QUAST' {
                shell = ['conda', 'run', '-n', 'analysis_env', '--no-capture-output', 'bash']

                cpus = 1
                memory = '8GB'
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'SPADES_PE|SPADES_SE' {
                shell = ['conda', 'run', '-n', 'assembly_env', '--no-capture-output', 'bash']

                cpus = { 23 + task.attempt }
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'SEQSERO_PE|SEQSERO_SE|SEQSERO_FA' {
                shell = ['conda', 'run', '-n', 'analysis_env', '--no-capture-output', 'bash']

                cpus = { 17 + task.attempt }
                memory = { 6.GB * task.cpus }
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'PARSE_SEQSERO' {
                shell = ['conda', 'run', '-n', 'analysis_env', '--no-capture-output', 'bash']

                cpus = 1
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'MLST|ABRICATE' {
                shell = ['conda', 'run', '-n', 'legacy_perl_env', '--no-capture-output', 'bash']

                cpus = 1
                memory = { 6.GB * task.cpus }
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'PARSE_ABRICATE' {
                shell = ['conda', 'run', '-n', 'legacy_perl_env', '--no-capture-output', 'bash']

                cpus = 1
                memory = { 6.GB * task.cpus }
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'PARSE_MLST' {
                shell = ['conda', 'run', '-n', 'legacy_perl_env', '--no-capture-output', 'bash']

                cpus = 1
                memory = { 6.GB * task.cpus }
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'PARSE_AMRFINDER' {
                shell = ['conda', 'run', '-n', 'analysis_env', '--no-capture-output', 'bash']

                cpus = 1
                memory = { 8.GB * task.cpus }
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'AMRFINDER|AMRFINDER_FA' {
                shell = ['conda', 'run', '-n', 'analysis_env', '--no-capture-output', 'bash']
                containerOptions = '--env AMRFINDERPLUS_DB=/opt/conda/envs/analysis_env/share/amrfinderplus/data/latest'

                cpus = { 7 + task.attempt }
                memory = { 10.GB * task.cpus }
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'SOFTWARE_VERSIONS' {
                shell = ['conda', 'run', '-n', 'analysis_env', '--no-capture-output', 'bash']
                cpus = 1
                memory = '4.GB'
                errorStrategy = 'retry'
                maxRetries = 1
            }

            withName: 'GENERATE_PDF_REPORT|COMBINE_XLSX' {
                shell = ['conda', 'run', '-n', 'analysis_env', '--no-capture-output', 'bash']
                cpus = 1
                memory = '4.GB'
                errorStrategy = 'retry'
                maxRetries = 1
            }              
        }                 
    }

    // profile to use on a Mac Laptop (Windows not tested) w/Apptainer
    local_docker {
        params.kraken_db = '/Users/reed.woyda/zone/databases/kraken2_std8'
        params.amr_nf_container = 'biorrw/amr_nextflow:latest'
        params.mlst_lookup_json = "${baseDir}/bin/lookup_genome_size.json"

        docker {
            enabled = true
        }

        process {
            executor = 'local'
            maxForks = 2
            queueSize = 4
            container = "${params.amr_nf_container}"

            withName: 'KRAKEN_PE|KRAKEN_SE|KRAKEN_FASTA' {
                containerOptions = "--env CONDA_DEFAULT_ENV=kraken_env -v ${params.kraken_db}:${params.kraken_db}:ro"
                cpus = 4
                memory = '16.GB' 
                errorStrategy = 'retry'
                maxRetries = 1
            }

            withName: 'FASTQC' {
                containerOptions = '--env CONDA_DEFAULT_ENV=analysis_env'
                cpus = 2
                memory = '4.GB'
            }

            withName: 'QUAST' {
                containerOptions = '--env CONDA_DEFAULT_ENV=assembly_env'
                cpus = 2
                memory = '8.GB'
            }

            withName: 'SPADES_PE|SPADES_SE' {
                containerOptions = '--env CONDA_DEFAULT_ENV=assembly_env'
                cpus = 6

                memory = '24.GB' 
                errorStrategy = 'retry'
                maxRetries = 1
            }

            withName: 'SEQSERO_PE|SEQSERO_SE|SEQSERO_FA' {
                containerOptions = '--env CONDA_DEFAULT_ENV=analysis_env'
                cpus = 4
                memory = '6.GB'
                errorStrategy = 'retry'
                maxRetries = 1
            }

            withName: 'MLST' {
                containerOptions = '--env CONDA_DEFAULT_ENV=legacy_perl_env'
                cpus = 1
                memory = '4.GB'
                errorStrategy = 'retry'
                maxRetries = 1
            }

            withName: 'ABRICATE' {
                containerOptions = '--env CONDA_DEFAULT_ENV=legacy_perl_env'
                cpus = 2
                memory = '4.GB'
                errorStrategy = 'retry'
                maxRetries = 1
            }

            withName: 'AMRFINDER|AMRFINDER_FA' {
                containerOptions = '--env CONDA_DEFAULT_ENV=analysis_env'
                cpus = 4
                memory = '8.GB'
                errorStrategy = 'retry'
                maxRetries = 1
            }

            withName: 'BRACKEN' {
                containerOptions = "--env CONDA_DEFAULT_ENV=kraken_env -v ${params.kraken_db}:${params.kraken_db}:ro"
                cpus = 1
                memory = '8.GB'
                errorStrategy = 'retry'
                maxRetries = 1
            }

            withName: 'KRONA|BRACKEN_PIE' {
                containerOptions = "--env CONDA_DEFAULT_ENV=kraken_env"
                cpus = 1
                memory = '4.GB'
                errorStrategy = 'retry'
                maxRetries = 1
            }

            withName: 'PARSE_QUAST' {
                containerOptions = '--env CONDA_DEFAULT_ENV=assembly_env'
                cpus = 1
                memory = '4.GB'
                errorStrategy = 'retry'
                maxRetries = 1
            }

            withName: 'PARSE_ABRICATE' {
                containerOptions = '--env CONDA_DEFAULT_ENV=legacy_perl_env'
                cpus = 1
                memory = '4.GB'
                errorStrategy = 'retry'
                maxRetries = 1
            }

            withName: 'PARSE_FASTQC_SE|PARSE_FASTQC|PARSE_SEQSERO|PARSE_MLST|PARSE_AMRFINDER' {
                containerOptions = '--env CONDA_DEFAULT_ENV=analysis_env'
                cpus = 1
                memory = '4.GB'
                errorStrategy = 'retry'
                maxRetries = 1
            }

            withName: 'SOFTWARE_VERSIONS' {
                containerOptions = '--env CONDA_DEFAULT_ENV=analysis_env'
                cpus = 1
                memory = '4.GB'
                errorStrategy = 'retry'
                maxRetries = 1
            }

            withName: 'GENERATE_PDF_REPORT|COMBINE_XLSX' {
                containerOptions = '--env CONDA_DEFAULT_ENV=analysis_env'
                cpus = 1
                memory = '4.GB'
                errorStrategy = 'retry'
                maxRetries = 1
            }
        }
    }
    // profile to use on a generic HPC with NO SLURM and w/Apptainer
    hpc_apptainer {
        params.kraken_db = "${baseDir}/some/path/kraken2_std8"
        params.mlst_lookup_json = "${baseDir}/bin/lookup_genome_size.json"

        apptainer {
            enabled = true
            autoMounts = true
            cacheDir = "${HOME}/.apptainer/cache"
        }

        process {
            container = 'docker://biorrw/amr_nextflow:latest'

            withName: 'KRAKEN_PE|KRAKEN_SE|KRAKEN_FA' {
                containerOptions = "--bind ${params.kraken_db}:${params.kraken_db}:ro"
                shell = ['conda', 'run', '-n', 'kraken_env', '--no-capture-output', 'bash']

                cpus = 8
                memory = '380.GB'
                time = '4h'
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'BRACKEN' {
                containerOptions = "--bind ${params.kraken_db}:${params.kraken_db}:ro"
                shell = ['conda', 'run', '-n', 'kraken_env', '--no-capture-output', 'bash']

                cpus = 8
                memory = '8GB'
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

           withName: 'KRONA' {
                shell = ['conda', 'run', '-n', 'kraken_env', '--no-capture-output', 'bash']

                cpus = 1
                memory = '8GB'
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'BRACKEN_PIE' {
                shell = ['conda', 'run', '-n', 'kraken_env', '--no-capture-output', 'bash']

                cpus = 1
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'FASTQC' {
                shell = ['conda', 'run', '-n', 'analysis_env', '--no-capture-output', 'bash']

                cpus = 8
                memory = '8GB'
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }
            
            withName: 'QUAST' {
                shell = ['conda', 'run', '-n', 'assembly_env', '--no-capture-output', 'bash']

                cpus = 8
                memory = '8GB'
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'PARSE_FASTQC_SE|PARSE_FASTQC' {
                shell = ['conda', 'run', '-n', 'analysis_env', '--no-capture-output', 'bash']

                cpus = 1
                memory = '8GB'
            }

            withName: 'PARSE_QUAST' {
                shell = ['conda', 'run', '-n', 'analysis_env', '--no-capture-output', 'bash']

                cpus = 1
                memory = '8GB'
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'SPADES_PE|SPADES_SE' {
                shell = ['conda', 'run', '-n', 'assembly_env', '--no-capture-output', 'bash']

                cpus = { 23 + task.attempt }
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'SEQSERO_PE|SEQSERO_SE|SEQSERO_FA' {
                shell = ['conda', 'run', '-n', 'analysis_env', '--no-capture-output', 'bash']

                cpus = { 17 + task.attempt }
                memory = { 6.GB * task.cpus }
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'PARSE_SEQSERO' {
                shell = ['conda', 'run', '-n', 'analysis_env', '--no-capture-output', 'bash']

                cpus = 1
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'MLST' {
                containerOptions = '--writable-tmpfs --no-home'
                shell = ['conda', 'run', '-n', 'legacy_perl_env', '--no-capture-output', 'bash']
                stageInMode = 'copy'
                
                cpus = 1
                memory = '6GB'
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }
            withName: 'ABRICATE' {
                shell = ['conda', 'run', '-n', 'legacy_perl_env', '--no-capture-output', 'bash']

                cpus = 1
                memory = { 6.GB * task.cpus }
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'PARSE_ABRICATE' {
                shell = ['conda', 'run', '-n', 'legacy_perl_env', '--no-capture-output', 'bash']

                cpus = 1
                memory = { 6.GB * task.cpus }
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'PARSE_MLST' {
                shell = ['conda', 'run', '-n', 'legacy_perl_env', '--no-capture-output', 'bash']

                cpus = 1
                memory = { 6.GB * task.cpus }
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'PARSE_AMRFINDER' {
                shell = ['conda', 'run', '-n', 'analysis_env', '--no-capture-output', 'bash']

                cpus = 1
                memory = { 8.GB * task.cpus }
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'AMRFINDER|AMRFINDER_FA' {
                shell = ['conda', 'run', '-n', 'analysis_env', '--no-capture-output', 'bash']
                containerOptions = '--env AMRFINDERPLUS_DB=/opt/conda/envs/analysis_env/share/amrfinderplus/data/latest'

                cpus = { 7 + task.attempt }
                memory = { 10.GB * task.cpus }
                errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
                maxRetries = 3
            }

            withName: 'SOFTWARE_VERSIONS' {
                shell = ['conda', 'run', '-n', 'analysis_env', '--no-capture-output', 'bash']
                cpus = 1
                memory = '4.GB'
                errorStrategy = 'retry'
                maxRetries = 1
            }

            withName: 'GENERATE_PDF_REPORT|COMBINE_XLSX' {
                shell = ['conda', 'run', '-n', 'analysis_env', '--no-capture-output', 'bash']
                cpus = 1
                memory = '4.GB'
                errorStrategy = 'retry'
                maxRetries = 1
            }              
        }                 
    }
}

// clean up work directory after run completion
// cleanup = true
cleanup = false

// generate html report that summarizes workflow
trace {
    enabled = false
    
    file = 'trace.txt'
    fields = 'task_id,hash,native_id,process,tag,status,exit,submit,duration,realtime,cpus,memory,%cpu,peak_rss,peak_vmem,rchar,wchar'
}

timeline {
    enabled = false
    file = 'timeline.html'
}
report {
    enabled = true
    overwrite = true
}